/* Importing new font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tektur&display=swap');
/* Root element for colors */
:root{
    --primary-color:#7c3aed;
    --dark-grey:#6b7280;
    --off-white:#f3f4f6;
}
/* body */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
}
/* Navbar */
.navbar{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
/* Lists in navbar */
/* Ancestor-Descendant Selectors */
 .listinline{
    display: inline;
}

/* Ancestor-Descendant Selectors */
.navbar .link{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.navbar .links{
    text-align: right;
}
.navbar .links .auto{
    font-weight: bolder;
}
/* Header */
.hero{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    padding-top: 5rem;
}
.hero .heroDetail{
    color: var(--dark-grey);
    text-align: center;
    font-weight: bolder;
    padding-top: 1rem;
}

.hero .heroPic{
    max-width: 80%;
    width: 600px;
    margin: auto;
    display: block;
}

.hero .heroDetail span{
    color: var(--primary-color);
}

/* Sections */
/* Offwhite section */
.offwhite{
    text-align: center;
    background-color: var(--off-white);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
}
/* White Section */
.white{
    text-align: center;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
}
.white a{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    color: white;
}
.offwhite a{
    text-decoration: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
}

.footer{
    background-color: var(--primary-color);
    margin-bottom: 0px;
    text-align: center;
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 1rem;
}
.footer a{
    color: white;
    padding: 1rem;
    text-decoration: none;
}